<#include "../layout/header.html" >


  <p class="toolbar">
    <#if group ??>
    <a class="create btn btn-primary" href="javascript:" >
      <i class="fa fa-plus"> 新增</i>
    </a>
    </#if>
    <span class="alert"></span>
  </p>

  <table id="table" class="table table-no-bordered" data-show-refresh="true"
         data-show-columns="true" data-striped="true" data-show-toggle="true"
         data-query-params-type="" data-query-params="queryParams" data-toolbar=".toolbar"
         data-page-list="[10, 20, 50]" data-pagination="true" data-side-pagination="server"
         data-search='true' data-search-time-out='3000' data-trim-on-search='true'
         data-search-on-enter-key='true'>
    <thead>
    <th data-formatter="runningFormatter">No.</th>
    <th data-field="id" data-align="center" data-visible="false">ID</th>
    <th data-field="name" data-align="center" data-sortable="true" data-formatter="nameFormatter">名称</th>
    <th data-field="mac" data-align="center" data-sortable="true">MAC</th>
    <th data-field="groupName" data-align="center" data-sortable="true">分组</th>
    <th data-field="ruleName" data-align="center" data-sortable="true">规则</th>
    <th data-field="description" data-align="center" data-visible="false">描述</th>
    <th data-field="updatedAt" data-align="center" data-visible="false" data-sortable="true"
        data-sort-order="desc">更新时间</th>
    <th data-field="createdAt" data-align="center" data-visible="false" data-sortable="true"
        data-sort-order="desc">创建时间</th>
    <!-- -->
    <th data-field="lastHeartbeatAt" data-align="center" data-visible="false" >心跳</th>
    <th data-field="lastHeartbeatIp" data-align="center" data-visible="false" >IP</th>
    <th data-field="lastHeartbeatSysTime" data-align="center" data-visible="false" data-formatter="timeFormatter">AP已启动</th>
    <th data-field="lastHeartbeatSysMemfree" data-align="center" data-visible="false" data-formatter="memFormatter">剩余内存</th>
    <th data-field="lastHeartbeatSysLoad" data-align="center" data-visible="false" >系统负载</th>
    <th data-field="lastHeartbeatWifidogUptime" data-align="center" data-visible="false" data-formatter="timeFormatter">系统已启动</th>
    <!-- -->
    <th data-field="action" data-align="center" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
    </thead>
  </table>

  <div class="row">
    <div id="modal" class="modal fade" >
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="form-horizontal m-t required-validate" id="config" autocomplete="off" novalidate="novalidate">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body form-horizontal m-t required-validate">
              <div class="form-group">
                <label class="col-md-3 control-label">名称 : </label>
                <div class="col-md-7">
                  <input type="text" class="form-control" name="name" id="name" >
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">MAC : </label>
                <div class="col-md-7">
                  <input type="text" class="form-control" name="mac" id="mac" >
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">规则 : </label>
                <div class="col-md-7">
                  <select name="ruleName" class="selectpicker show-menu-arrow form-control" data-size="6"
                          data-live-search="true" title="选择规则 ..." >
                    <#if rules ??>
                      <#list rules as rule>
                        <option value="${rule.getName()}">${rule.getName()}</option>
                        <#else>
                          <option>目前还没有规则</option>
                      </#list>
                      <#else>
                        <option>目前还没有规则</option>
                    </#if>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">描述 : </label>
                <div class="col-md-7">
                  <input type="text" class="form-control" name="description" id="description" >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary submit">提交</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div> <!-- /.row -->


  <script type='text/javascript'>

    var AP_SHOW = "${viewHelper.getPath()}/ap/show";
    var AP_NEW = "${viewHelper.getPath()}/ap/new";
    var AP_EDIT = "${viewHelper.getPath()}/ap/edit";
    var AP_DELETE = "${viewHelper.getPath()}/ap/delete";
    var _csrf = '${_csrf.token ?if_exists}';
    var group = '${group ?if_exists}';

    var $table = $('#table').bootstrapTable({
      sortOrder: "desc",
      url: AP_SHOW,
      formatShowingRows : formatShowingRows,
      formatRecordsPerPage : formatRecordsPerPage
    })

    var $modal = $('#modal').modal({show: false});
    var $alert = $('.alert').hide();

    $.validator.setDefaults({
      onkeyup: function (element, event) {
        if (event.which === 9 && this.elementValue(element) === "") {
          return;
        }
        else {
          this.element(element);
        }
      }
    });

    $(function () {
      $table.on('post-body.bs.table', function () {
        var $search = $table.data('bootstrap.table')
          .$toolbar.find('.search input');
        $search.attr('placeholder', '根据MAC搜索 ...');
      });

      $('.create').click(function () {
        showModal($(this).text());
      });

      var validator = $("#config").validate({
        rules: {
          name: {
            required: true,
            rangelength: [1, 32]
          },
          mac: {
            required: true,
            MACAddr: true
          },
          ruleName: {
            required: false,
            rangelength: [1, 32]
          },
          description: {
            required: false,
            rangelength: [1, 256]
          }
        },
        errorClass: "error"
      });

      $modal.find('.submit').click(function () {
        var data;
        var title;
        var url;

        if(validator.form() == false) {
          return false;
        }

        if($modal.data('id') && $modal.data('id') >=0) {
          data = $("#config").serialize()
                  + "&id=" + $modal.data('id')
                  + "&groupName=" + group
                  + '&_csrf=' + _csrf;
          url = AP_EDIT;
          title = "修改";
        }
        else {
          data = $("#config").serialize()
                  + "&groupName=" + group
                  + '&_csrf=' + _csrf;
          url = AP_NEW;
          title = "添加";
        }

        $.ajax({
          url: url,
          type: 'post',
          data: data,
          success: function (result) {
            if(result == "success") {
              $modal.modal('hide');
              $table.bootstrapTable('refresh');
              showAlert(title + '成功!', 'success');
            }
            else {
              $modal.modal('hide');
              showAlert(title + '失败! ' + result, 'danger');
            }
          },
          error: function () {
            $modal.modal('hide');
            showAlert(title + '失败!', 'danger');
          }
        });
      });
    })

    function queryParams(params) {
      return {
        page: params.pageNumber,
        size: params.pageSize,
        sortName: params.sortName || "updatedAt",
        sortOrder: params.sortOrder || "desc",
        search: params.searchText,
        groupName: group,
        _r: Math.floor(Math.random()*10000)
      };
    }

    window.actionEvents = {
      'click .update': function (e, value, row) {
        showModal($(this).attr('title'), row);
      },
      'click .remove': function (e, value, row) {
        if (confirm('确定要删除这一项吗?')) {
          var data = "id=" + row.id + "&_csrf=" + _csrf;
          $.ajax({
            url: AP_DELETE,
            type: 'post',
            data: data,
            success: function (result) {
              if(result == "success") {
                $table.bootstrapTable('refresh');
                showAlert('删除成功!', 'success');
              }
              else {
                showAlert('删除错误!', 'danger');
              }

            },
            error: function () {
              showAlert('删除错误!', 'danger');
            }
          })
        }
      }
    };

    function showModal(title, row) {
      row = row || {
          name: '',
          mac: '',
          ruleName: '',
          description: ''
        };

      if(typeof(row.id) == "undefined") {
        $modal.data('id', -1);
      }
      else if(row.id >= 0){
        $modal.data('id', row.id);
        $modal.find('input[name]').each(function () {
          $(this).val("");
        });
      }

      $modal.find('.modal-title').text(title);
      for (var name in row) {
        $modal.find('input[name="' + name + '"]').val(row[name]);
      }

      $('select[name="ruleName"]').val(row['ruleName']);
      $('select[name="ruleName"]').selectpicker('render');

      $modal.modal('show');
    }

    function showAlert(title, type) {
      $alert.attr('class', 'alert alert-' + type || 'success')
        .html('<i class="fa fa-check"></i> ' + title).show();
      setTimeout(function () {
        $alert.hide();
      }, 3000);
    }

    function actionFormatter(value) {
      return [
        '<a class="update" href="javascript:" title="修改"><i class="fa fa-edit"></i></a>',
        '&nbsp;&nbsp;&nbsp;&nbsp;',
        '<a class="remove" href="javascript:" title="删除"><i class="fa fa-times"></i></a>'
      ].join('');
    }

    function formatRecordsPerPage(pageNumber) {
      return '&nbsp;' + pageNumber + ' 每页';
    };

    function formatShowingRows(pageFrom, pageTo, totalRows) {
      return '共 ' + totalRows + ' 项记录';
    };

    function runningFormatter(value, row, index) {
      return index + 1;
    }

    function nameFormatter(value) {
      return '<a href="${viewHelper.getPath()}/conn?apName=' + value + '">' + value + '</a>';
    }

    function timeFormatter(value, row, index) {
      var time;

      if(value == null) {
        time = "-";
      }
      else if(value < 60) {
        time = value + " s";
      }
      else if(value < 60 * 60) {
        time = Math.floor(value/60) + " m " + value%60 + " s";
      }
      else if(value < 60 * 60 * 24) {
        time = Math.floor(value/(60*60)) + " h " + Math.floor(value%(60*60)/60) + " m " + value%60 + " s ";
      }
      else {
        var t = value%(60 * 60 * 24);
        time = Math.floor(value/(60 * 60 * 24)) + " d " + Math.floor(t/(60*60)) + " h " + Math.floor(t%(60*60)/60) + " m " + t%60 + " s ";
      }

      return time;
    }

    function memFormatter(value, row, index) {
      var mem;

      if(value == null) {
        mem = "-";
      }
      else if(value < 1024) {
        mem = value + " KB";
      }
      else if(value < 1024 * 1024) {
        mem = (value/1024).toFixed(2) + " MB"
      }
      return mem;
    }

  </script>


  <#include "../layout/footer.html" >