<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form name="login" method="post" action="login">
    <input type="hidden" name="${pyroblast.gw_id}" value="${pyroblast.gw_id}" />
    <input type="hidden" name="${pyroblast.gw_address}" value="${pyroblast.gw_address}" />
    <input type="hidden" name="${pyroblast.gw_port}" value="${pyroblast.gw_port}" />
    <input type="hidden" name="${pyroblast.mac}" value="${pyroblast.mac}" />
    <input type="hidden" name="${pyroblast.url}" value="${pyroblast.url}" />
    <input type="text" name="username" value="" />
    <br/>
    <input type="password" name="password" value="" />
    <br/>
    <input type="submit" name="submit" value="submit" />
</form>

</body>
</html>